---
---

@import "{{ site.theme }}";

.wrapper {
    width: unset;
    margin: 50px;
}

summary {
	background: silver;
    list-style-position: outside;
	font-style: italic;
	font-size: smaller;
}

h3 {
    background-color: darkgray;
    padding: 0.5em;
}

th, td {
    padding:unset;
}

